<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.GoodsTypeMapper">
    <resultMap id="goodsTypeVOMap" type="com.atguigu.jxc.entity.GoodsTypeVO">
        <id column="goods_type_id" property="goodsTypeId"/>
        <result column="goods_type_name" property="goodsTypeName"/>
        <result column="p_id" property="pId"/>
        <result column="goods_type_state" property="goodsTypeState"/>
        <collection property="children" select="selectChildrenTree" column="p_id"/>
    </resultMap>
    <!--查找对应父id的子节点-->
    <select id="selectGoodsTypeTree" resultMap="goodsTypeVOMap">
        SELECT goods_type_id,
               goods_type_name,
               p_id,
               goods_type_state
        FROM t_goods_type
        WHERE p_id = -1
    </select>

    <select id="selectChildrenTree" resultType="com.atguigu.jxc.entity.GoodsTypeVO">
        SELECT goods_type_id,
               goods_type_name,
               p_id,
               goods_type_state
        FROM t_goods_type
        WHERE p_id = #{goodsTypeId}
    </select>
</mapper>