<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.GoodsTypeDao">
    <!--根据 p_id 获取商品分类信息-->
    <select id="selectGoodsTypeByPId" resultType="com.atguigu.jxc.entity.GoodsType">
        SELECT goods_type_id    goodsTypeId
             , goods_type_name  goodsTypeName
             , p_id             pId
             , goods_type_state goodsTypeState
        FROM t_goods_type
        WHERE p_id = #{pId}
    </select>
</mapper>