<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.SupplierDao">
    <!--  根据 supplier_id 查询供应商 -->
    <select id="selectSupplierById" resultType="com.atguigu.jxc.entity.Supplier">
        SELECT supplier_id   supplierId,
               supplier_name supplierName,
               contacts,
               phone_number  phoneNumber,
               address,
               remarks
        FROM t_supplier
        WHERE supplier_id = #{supplierId}
    </select>

    <!-- 分页查询供应商 -->
    <select id="selectSupplierList" resultType="com.atguigu.jxc.entity.Supplier">
        SELECT supplier_id supplierId,
        supplier_name supplierName,
        contacts,
        phone_number phoneNumber,
        address,
        remarks
        FROM t_supplier
        <where>
            <if test="supplierName != null and supplierName != ''">
                supplier_name LIKE "%"#{supplierName}"%"
            </if>
        </where>
        LIMIT #{page}, #{rows}
    </select>

    <!-- 新增供应商信息  -->
    <insert id="insertSupplier" parameterType="com.atguigu.jxc.entity.Supplier">
        INSERT INTO t_supplier (supplier_id, supplier_name, contacts, phone_number, address, remarks)
        VALUES (#{supplierId}, #{supplierName}, #{contacts}, #{phoneNumber}, #{address}, #{remarks})
    </insert>

    <!--  修改供应商信息  -->
    <update id="updateSupplier" parameterType="com.atguigu.jxc.entity.Supplier">
        UPDATE t_supplier
        SET supplier_name = #{supplierName},
            contacts      = #{contacts},
            phone_number  = #{phoneNumber},
            address       = #{address},
            remarks       = #{remarks}
        WHERE supplier_id = #{supplierId}
    </update>

    <!--  删除供应商  -->
    <delete id="deleteSupplier">
        DELETE
        FROM t_supplier
        WHERE supplier_id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>